<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsq.myfirst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppcom">
        <activity android:name=".ManhuaActivity4"></activity>
        <activity android:name=".ManhuaActivity3" />
        <activity android:name=".XinwenActivity3" />
        <activity
            android:name=".zoupinActivity2"
            android:exported="true" />
        <activity android:name=".BeiwrActivity2" />
        <activity android:name=".XinwenActivity2" />
        <activity
            android:name=".ManhuaActivity2"
            android:exported="true" />
        <activity android:name=".yinpinActivity2" />
        <activity
            android:name=".TupianActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>